<ngx-loading [show]="userloader" [config]="{fullScreenBackdrop: false }"></ngx-loading>
<input class="" type="text" [(ngModel)]="name" placeholder="Enter Name" [ngModelOptions]="{standalone: true}">
<input class="" type="text" [(ngModel)]="phoneNumber" placeholder="Enter Phone Number" [ngModelOptions]="{standalone: true}">
<input class="" type="text" [(ngModel)]="password" placeholder="Enter Password" [ngModelOptions]="{standalone: true}">
<input class="" type="text" [(ngModel)]="confirmPassword" placeholder="Confirm Password" [ngModelOptions]="{standalone: true}">
<input class="" type="text" [(ngModel)]="otp" placeholder="Enter OTP" [ngModelOptions]="{standalone: true}">
<button *ngIf = "otpValidate" (click) = "validateOtp()">Verify OTP</button>
<button *ngIf = "!otpValidate" (click) = "requestOtp()">Send OTP</button>