.register{
    form{
        margin-bottom: 200px;
        .register-button{
            min-width: 80px;
            min-height: 34px;
            background-color: #FFCB05;
            border: none;
            border-radius: 8%;
            font-weight: 700;
            color: #004C6C;
        }
    }
}
.title {
    padding: 4px 15px;
    background-color: aliceblue;
    margin-bottom: 13px;
}