<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-menu-button>
        </ion-menu-button>
    </ion-buttons>
    <ion-title>Infection Stats</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ngx-loading [show]="!fetchGroupDataDone" [config]="{fullScreenBackdrop: true }"></ngx-loading>
  <div *ngIf = "fetchGroupDataDone">
      <div class="row india-map-desktop">
          <div class="col-sm-6">
              <fusioncharts width="900" height="530" type="india" [dataSource]="dataSource" (initialized) = "initializedMap($event)">
              </fusioncharts>
          </div>
          <div class="col-sm-6 data-table">
              <table class="table table-striped table-bordered">
                  <tbody>
                      <tr>
                          <th>State Name</th>
                          <th>Total Cases</th>
                          <th>Active Cases</th>
                          <th>Death Cases</th>
                          <th>Recovered Cases</th>
                      </tr>
                      <tr *ngFor = "let State of stateFullData">
                          <td>{{State.name}}</td>
                          <td>{{State.infected}}</td>
                          <td>{{State.active}}</td>
                          <td>{{State.deaths}}</td>
                          <td>{{State.recovered}}</td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
      <div class="row india-map-mobile">
          <div class="col-sm-6">
              <fusioncharts width="500" height="400" type="india" [dataSource]="dataSource" (initialized) = "initializedMap($event)">
              </fusioncharts>
          </div>
          <div class="col-sm-6 data-table">
              <table class="table table-striped table-bordered">
                  <tbody>
                      <tr>
                          <th>State Name</th>
                          <th>Total Cases</th>
                          <th>Active Cases</th>
                          <th>Death Cases</th>
                          <th>Recovered Cases</th>
                      </tr>
                      <tr *ngFor = "let State of stateFullData">
                          <td>{{State.name}}</td>
                          <td>{{State.infected}}</td>
                          <td>{{State.active}}</td>
                          <td>{{State.deaths}}</td>
                          <td>{{State.recovered}}</td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>
</ion-content>
