.title {
padding: 4px 15px;
// padding-left: 15%;
background-color: aliceblue;
margin-bottom: 52px;
}

.login{
    form{
        margin-bottom: 200px;
        margin-left: 14%;
        .form-login{
            text-align: center;
            .login-button{
                min-width: 80px;
                min-height: 34px;
                background-color: #FFCB05;
                border: none;
                border-radius: 8%;
                font-weight: 700;
                color: #004C6C;
            }
        }
        .register_redirect{
            text-align: center;
        }
    }
}

.alert {
padding: 20px;
background-color: #f44336;
color: white;
text-align: center;
}

.closebtn {
margin-left: 15px;
color: white;
font-weight: bold;
float: right;
font-size: 22px;
line-height: 20px;
cursor: pointer;
transition: 0.3s;
}

.closebtn:hover {
color: black;
}