.india-map{
    margin-bottom: 150px;
    .data-table{
        padding-left: 8%;
        table{
            width: 100%;
            overflow-y:scroll;
            height:530px;
            display:block;
            td, th{
                text-align: center;
            }
            th{
                vertical-align: middle;
            }
        }
    }
}