<div class="row">
    <div class="col-sm-12">
        <br>
        <p>Reported illnesses have ranged from mild symptoms to severe illness and death for confirmed coronavirus disease 2019 (COVID-19) cases.
        These symptoms may appear <b>2-14 days after exposure</b> (based on the incubation period of MERS-CoV viruses).<br />
        <div>
        <ul>
        <li>Fever</li>
        <li>Cough</li>
        <li>Shortness of breath</li>
        <li>Muscle aches</li>
        <li>Sore throat</li>
        <li>Unexplained loss of taste or smell</li>
        <li>Diarrhea</li>
        <li>Headache</li>
        </ul></div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p>
        In rare cases, COVID-19 can lead to severe respiratory problems, kidney failure or death.
        If you have a fever or any kind of respiratory difficulty such as coughing or shortness of breath, 
        call your doctor or a health care provider and explain your symptoms over the phone before going to the doctor’s office, urgent care facility or emergency room.
        </p>
        <p style="text-align:center">
            <img src="https://www.cdc.gov/coronavirus/2019-ncov/images/symptoms-mobile.png" alt="symptom" style="width:500px">
        </p>
    </div>
</div>

