.cwsf-footer{
    background-color: #004C6C;
    padding: 28px;
    height: 112px;
    position: fixed;
    left: auto;
    bottom: 0;
    width: 80%;
    .top-part{
        .tag{
            color: #FFCB05;
            font-weight: 700;
            font-size: 18px;
            float: left;
        }
        .acronym{
            font-weight: 700;
            color: #ffffff;
            font-size: 18px;
            float: right;
        }
    }
    .bottom-part{
        .copyright{
            color: #ffffff;
            float: left;
        }
        .legal{
            color: #ffffff;
            float: right;
        }
    }
}